@model Bulky.Models.ViewModels.ShoppingCartVM
@using Microsoft.Extensions.Options

@inject IOptions<Bulky.Utility.StripeSettings> Stripe;
<form method="post">
    <div class="summary">
        <div class="summary__header">
            <div class="summary-header__number">
                Summary
            </div>
            <a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="summary-header__keep-shopping">
                Back to Cart
            </a>
        </div>
        <div class="summary__main">
            <div class="summary__item">
                <div class="summary__list-product">
                    <div class="summary__address">
                        <span class="summary__title">Enter an address</span>
                        <div>
                            <span class="required">Name</span>
                            <input asp-for="OrderHeader.Name" type="text" class="input-shop" />
                            <span asp-validation-for="OrderHeader.Name" class="text-danger"></span>
                        </div>
                        <div>
                            <span class="required">Phone</span>
                            <input asp-for="OrderHeader.PhoneNumber" type="text" class="input-shop" />
                            <span asp-validation-for="OrderHeader.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div>
                            <span class="required">Street Address</span>
                            <input asp-for="OrderHeader.StreetAddress" type="text" class="input-shop" />
                            <span asp-validation-for="OrderHeader.StreetAddress" class="text-danger"></span>
                        </div>
                        <div>
                            <span class="required">City</span>
                            <input asp-for="OrderHeader.City" type="text" class="input-shop" />
                            <span asp-validation-for="OrderHeader.City" class="text-danger"></span>
                        </div>
                        <div class="summary-address__state-postal-code">
                            <div class="summary-address__state">
                                <span class="required">State</span>
                                <input asp-for="OrderHeader.State" type="text" class="input-shop" />
                                <span asp-validation-for="OrderHeader.State" class="text-danger"></span>
                            </div>
                            <div class="summary-address__postal-code">
                                <span class="required">Postal Code</span>
                                <input asp-for="OrderHeader.PostalCode" type="text" class="input-shop" />
                                <span asp-validation-for="OrderHeader.PostalCode" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="summary__item">
                <span class="summary__title">Order summary</span>
                @foreach (var details in Model.ListCart)
                {
                    <div class="summary__product">
                        <div class="summary-product__item">
                            <div class="summary-product__title">
                                @details.Product.Title
                            </div>
                            <div class="summary-product__qty">
                                <span>Quantity:</span>
                                <span>@details.Count</span>
                            </div>
                        </div>
                        <div class="summary-product__item">
                            <div class="summary-product__price">
                                <span>US$@Math.Round(details.Price*details.Count, 2)</span>
                            </div>
                        </div>
                    </div>
                }
                <div class="summary__total">
                    <span>Total</span>
                    <span>US$@Math.Round(Model.OrderHeader.OrderTotal, 2)</span>
                </div>
            </div>


        </div>
        <div class="summary__footer">
            <div class="summary-footer__arrival-date">
                <span>
                    Estimate Arrival Date: @DateTime.Now.AddDays(7).ToShortDateString() -
                    @DateTime.Now.AddDays(14).ToShortDateString()
                </span>
            </div>
            @{
                var OrderTotalForStripe = Model.OrderHeader.OrderTotal * 100;
            }
            @if (Model.OrderHeader.ApplicationUser.Company == null ||
          !Model.OrderHeader.ApplicationUser.Company.IsAuthorizedCompany)
            {
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="@Stripe.Value.PublishableKey" data-amount="@OrderTotalForStripe" data-name="Bulky"
                        data-description="Get More, For Less" data-locale="auto" data-allow-remember-me="false"
                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png">
                </script>
                <script>
                    document.getElementsByClassName("stripe-button-el")[0].style.display = "none";
                </script>
                <button type="submit" class="btn-shop">
                    Place Order
                </button>
            }
            else
            {
                <button type="submit" class="btn-shop">
                    Place Order
                </button>
            }
        </div>
    </div>
</form>

@section Scripts{ 
    <partial name="_ValidationScriptsPartial"/>
}
